*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif; 
}
header{
    background-color: white;
    box-sizing: content-box;
    padding: 15px 30px;
}
header img{
    width: 84px;
}
h1{
    font-size: 64px;
    display: inline-block;
    vertical-align: text-bottom;
}