*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif; 
}
header{
    background-color:white;
    padding: 15px 30px;
}
header img{
    width: 84px;
    vertical-align: middle;
}
h1{
    font-size: 64px;
    display: inline-block;
    vertical-align: middle;
    
}
.container{
    max-width: 1400px;
    margin: auto;
    background-color: white;
}
#buttons{
    margin-top: 60px;
    padding-left: 70px;
    padding-top: 25px;
    padding-bottom: 15px;
    
}
button{
    border: 0px;
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 16px;
}
#task{
    color: white;
    background-color: #45ABEA;
    border: 2px solid #45ABEA;
}
#section{
    background-color: white;
    color: lightgrey;
    border: 2px solid lightgrey;
    
}
#tasks{
    margin-top: 10px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.contained{
    font-size: 20px;
}
.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    font-size: 10px;  
    display: inline-block;
    padding-bottom: 13px;
}
#check{
    color: #64C0A9;
    border-color: #64C0A9;
}
#cross{
    color: red;
    border-color: red;
}
h3{
    display: inline-block;
    vertical-align: top;
}
.type{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
    color: white;
}
section{
    margin-bottom: 40px;
}
.editorial{
    background-color: #45ABEA;
}
.elenco{
    margin-bottom: 20px;
}
.goals{
    background-color: #9C72E4;
}
.recruiting{
    background-color: #64C0A9;
}
.mobile{
    background-color: #F29E33;
}
.website{
    background-color: #D863A1;
}
.sales{
    background-color: #B0C926;
}